.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.main ol {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.ctas {
  display: flex;
  gap: 16px;
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: none;
  border: 1px solid transparent;
  transition:
    background 0.2s,
    color 0.2s,
    border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 158px;
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}


.titleFont {
  font-family: "VT323", monospace;
  text-align: center;
  font-size: 5rem;
  color: limegreen;
  animation: textShadow 4s infinite;
}
.tagLine {
  font-family: "VT323", monospace;
  text-align: center;
  font-size: 1.5rem;
  color: limegreen;
  animation: textShadow 4s infinite;
}
.dateText {
  font-family: "VT323", monospace;
  text-align: center;
  font-size: 1.5rem;
  color: limegreen;
  animation: textShadow 4s infinite;
}
.inviteLink {
  text-decoration-thickness: 3px !important;
  text-decoration: underline;
}	
.SiteName {
  font-family: "VT323", monospace;
  font-size: 2.5rem;
  color: limegreen;
  animation: textShadow 4s infinite;
}
.DisabledSiteName {
  font-family: "VT323", monospace;
  font-size: 2.5rem;
  color: #292929;
  animation: disabledTextShadow 4s infinite;
}
.SiteDescription {
  font-family: "VT323", monospace;
  font-size: 1.5rem;
  color: limegreen;
  animation: textShadow 4s infinite;
}
.DisabledSiteDescription {
  font-family: "VT323", monospace;
  font-size: 1.5rem;
  color: #292929;
  animation: disabledTextShadow 4s infinite;
}
.DisabledSiteStatus {
  font-family: "VT323", monospace;
  font-size: 3.5rem;
  color: #292929;
  animation: disabledTextShadow 4s infinite;
  padding-left: 1rem;
}
.SiteStatus {
  font-family: "VT323", monospace;
  font-size: 3.5rem;
  color: limegreen;
  animation: textShadow 4s infinite;
  padding-left: 1rem;
}
.SiteWrapper {
  margin-top:5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.SiteObjectCard {
  margin: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 600px;
  align-items: center;
}
.SiteObjectCardFlex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.activeIcon {
  /*filter: blur(0.04rem) brightness(0) saturate(100%) invert(56%) sepia(67%) saturate(525%) hue-rotate(71deg) brightness(90%) contrast(99%);*/
  filter: brightness(0) saturate(100%) invert(72%) sepia(16%) saturate(7494%) hue-rotate(72deg) brightness(99%) contrast(82%);
  height: 3.5rem;
  width: 3.5rem;
  shape-rendering: geometricprecision;
  animation: iconShadow 4s infinite;
}
.titleIcon {
  /*filter: blur(0.04rem) brightness(0) saturate(100%) invert(56%) sepia(67%) saturate(525%) hue-rotate(71deg) brightness(90%) contrast(99%);*/
  filter: brightness(0) saturate(100%) invert(72%) sepia(16%) saturate(7494%) hue-rotate(72deg) brightness(99%) contrast(82%);
  width: 6rem;
  shape-rendering: geometricprecision;
  animation: iconShadow 4s infinite;
}
.disabledIcon {
  filter: brightness(0) saturate(100%) invert(15%) sepia(1%) saturate(3%) hue-rotate(37deg) brightness(97%) contrast(96%);
  height: 3.5rem;
  width: 3.5rem;
  animation: disabledIconShadow 4s infinite;
}
.iconWrapper {
  display: flex;
  align-items: center;
}

.BannerWrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 3rem;
}
.BannerTitleWrapper {
  display: block;
  text-align: end;

}
.BannerTitleText {
  text-align: end;
  font-family: "VT323", monospace;
  font-size: 4rem;
  color: limegreen;
  animation: textShadow 4s infinite;
}
.ClippyTitleText {
  text-align: end;
  font-family: "VT323", monospace;
  font-size: 2rem;
  color: limegreen;
  animation: textShadow 4s infinite;
}
.ClippyTitleText2 {
  text-align: start;
  font-family: "VT323", monospace;
  font-size: 2rem;
  color: limegreen;
  animation: textShadow 4s infinite;
}
.ClippyBannerWrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 3rem;
  position: absolute;
  bottom: 0;
  justify-content: center;
}
.ClippyRejectWrapper {
  display: block;
  align-content: flex-end;
  text-align: end;
}
.ClippyEmbraceWrapper {
  display: block;
  align-content: flex-end;
}
.ClippyTitleIcon {
  height: 4rem;
  /*filter: blur(0.04rem) brightness(0) saturate(100%) invert(56%) sepia(67%) saturate(525%) hue-rotate(71deg) brightness(90%) contrast(99%);*/
  filter: brightness(0) saturate(100%) invert(72%) sepia(16%) saturate(7494%) hue-rotate(72deg) brightness(99%) contrast(82%);
  width: 6rem;
  shape-rendering: geometricprecision;
  animation: iconShadow 4s infinite;
}
.BannerWebringWrapper {
 display: block;
}
.BannerWebringText {
  font-family: "VT323", monospace;
  text-align: center;
  font-size: 8rem;
  color: limegreen;
  animation: textShadow 4s infinite;
}
.BannerIconWrapper {
  display: flex;
  align-items: center;
}
.ClippyBannerIconWrapper {
 display: flex;
 align-items:center;
}
.BannerClippyIconWrapper{
  display:flex;
  align-items:center;
  padding: 0 1.25rem 0 1.25rem;
}
.BannerClippyTextLeft {
  font-family: "VT323", monospace;
  text-align: left;
  font-size: 4rem;
  color: limegreen;
  animation: textShadow 4s infinite;
}
.BannerTextClippyRight {
  font-family: "VT323", monospace;
  text-align: right;
  font-size: 4rem;
  color: limegreen;
  animation: textShadow 4s infinite;
}
.BannerRejectClippy{
  display: block;
  align-content: center;
}
.BannerEmbraceClippy{
  display: block;
  align-content: center;
}
.Manifesto {
  font-family: "VT323", monospace;
  color: limegreen;
  max-width: 40em;
  font-size: 1.5em;
  padding: 0 1rem 0 2rem;
  animation: textShadow 4s infinite;
}
.ManifestoBody {
  padding: 1.5rem 0 2.5rem 0;
}
.ManifestoBody > h3{
  padding-bottom: 1rem;
  margin-left: -0.75rem;
}
.ManifestoBody > ul{
  padding-left: 1.5rem;
}	
.RepData {
  display: inline-block;
}
.blogDate {
  font-size: 1rem;
  padding-left:2rem;
}




@media only screen and (max-width: 800px) {
  .BannerWrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    align-self: center;
  }
  .BannerTitleText {
    text-align: center;
  }
  .BannerWebringText {
    text-align: center;
  }
  .BannerIconWrapper {
    display: none;
  }
  .ClippyEmbraceWrapper {
    display: none;
  }
  .BannerTextClippyRight{
    text-align: center;
  }
  .BannerClippyTextLeft{
    text-align: center;
  }
  .BannerClippyIconWrapper{
    order: 3;
    align-self: center;  
  }
  .iconWrapper {
    justify-content: center;
  }
  .SiteWrapper {
    align-items: start;
  }
  .SiteObjectCard {
    flex-direction: column-reverse;
    align-items: start;
    margin: 1.5em;
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .SiteStatus {
    padding-left: 0;
  }
  .DisabledSiteStatus{
    padding-left: 0;
  }
}
@media only screen and (min-width: 801px) {

  .SiteObjectCard {
    width: 65vw;
  }

}




.scanline {
  width: 100vw;
  height: 100px;
  z-index: 8;
  background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(255, 255, 255, 0.2) 10%,
          rgba(0, 0, 0, 0.1) 100%
  );
  opacity: 0.1;
  position: fixed;
  top: -100px;
  left: 0;
  animation: scanline 7s linear infinite;
}
@keyframes scanline {
  0% {
    top: -100px;
  }
  80% {
    top: -100px;
  }
  100% {
    top: 100vh;
  }
}
.crt:before {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width:100vw;
  height: 100vh;
  background: linear-gradient(
          to bottom,
          rgba(18, 16, 16, 0) 50%,
          rgba(0, 0, 0, 0.25) 50%
  );
  background-size: 100% 4px;
  z-index: 2;
  pointer-events: none;
  -webkit-animation: crt 1s steps(15) infinite;
  animation: crt 1s steps(15) infinite;
}

@keyframes crt {
  0% {
    background-position: 0 50%;
  }
}



@keyframes textShadow {
  0% {
    text-shadow: 0.4389924193300864px 0 1px rgba(0, 30, 255, 0.5),
    -0.4389924193300864px 0 1px rgba(255, 0, 80, 0.3),
    0 0 3px;
  }
  5% {
    text-shadow: 2.7928974010788217px 0 1px rgba(0, 30, 255, 0.5),
    -2.7928974010788217px 0 1px rgba(255, 0, 80, 0.3),
    0 0 3px;
  }
  10% {
    text-shadow: 0.02956275843481219px 0 1px rgba(0, 30, 255, 0.5),
    -0.02956275843481219px 0 1px rgba(255, 0, 80, 0.3),
    0 0 3px;
  }
  15% {
    text-shadow: 0.40218538552878136px 0 1px rgba(0, 30, 255, 0.5),
    -0.40218538552878136px 0 1px rgba(255, 0, 80, 0.3),
    0 0 3px;
  }
  20% {
    text-shadow: 3.4794037899852017px 0 1px rgba(0, 30, 255, 0.5),
    -3.4794037899852017px 0 1px rgba(255, 0, 80, 0.3),
    0 0 3px;
  }
  25% {
    text-shadow: 1.6125630401149584px 0 1px rgba(0, 30, 255, 0.5),
    -1.6125630401149584px 0 1px rgba(255, 0, 80, 0.3),
    0 0 3px;
  }
  30% {
    text-shadow: 0.7015590085143956px 0 1px rgba(0, 30, 255, 0.5),
    -0.7015590085143956px 0 1px rgba(255, 0, 80, 0.3),
    0 0 3px;
  }
  35% {
    text-shadow: 3.896914047650351px 0 1px rgba(0, 30, 255, 0.5),
    -3.896914047650351px 0 1px rgba(255, 0, 80, 0.3),
    0 0 3px;
  }
  40% {
    text-shadow: 3.870905614848819px 0 1px rgba(0, 30, 255, 0.5),
    -3.870905614848819px 0 1px rgba(255, 0, 80, 0.3),
    0 0 3px;
  }
  45% {
    text-shadow: 2.231056963361899px 0 1px rgba(0, 30, 255, 0.5),
    -2.231056963361899px 0 1px rgba(255, 0, 80, 0.3),
    0 0 3px;
  }
  50% {
    text-shadow: 0.08084290417898504px 0 1px rgba(0, 30, 255, 0.5),
    -0.08084290417898504px 0 1px rgba(255, 0, 80, 0.3),
    0 0 3px;
  }
  55% {
    text-shadow: 2.3758461067427543px 0 1px rgba(0, 30, 255, 0.5),
    -2.3758461067427543px 0 1px rgba(255, 0, 80, 0.3),
    0 0 3px;
  }
  60% {
    text-shadow: 2.202193051050636px 0 1px rgba(0, 30, 255, 0.5),
    -2.202193051050636px 0 1px rgba(255, 0, 80, 0.3),
    0 0 3px;
  }
  65% {
    text-shadow: 2.8638780614874975px 0 1px rgba(0, 30, 255, 0.5),
    -2.8638780614874975px 0 1px rgba(255, 0, 80, 0.3),
    0 0 3px;
  }
  70% {
    text-shadow: 0.48874025155497314px 0 1px rgba(0, 30, 255, 0.5),
    -0.48874025155497314px 0 1px rgba(255, 0, 80, 0.3),
    0 0 3px;
  }
  75% {
    text-shadow: 1.8948491305757957px 0 1px rgba(0, 30, 255, 0.5),
    -1.8948491305757957px 0 1px rgba(255, 0, 80, 0.3),
    0 0 3px;
  }
  80% {
    text-shadow: 0.0833037308038857px 0 1px rgba(0, 30, 255, 0.5),
    -0.0833037308038857px 0 1px rgba(255, 0, 80, 0.3),
    0 0 3px;
  }
  85% {
    text-shadow: 0.09769827255241735px 0 1px rgba(0, 30, 255, 0.5),
    -0.09769827255241735px 0 1px rgba(255, 0, 80, 0.3),
    0 0 3px;
  }
  90% {
    text-shadow: 3.443339761481782px 0 1px rgba(0, 30, 255, 0.5),
    -3.443339761481782px 0 1px rgba(255, 0, 80, 0.3),
    0 0 3px;
  }
  95% {
    text-shadow: 2.1841838852799786px 0 1px rgba(0, 30, 255, 0.5),
    -2.1841838852799786px 0 1px rgba(255, 0, 80, 0.3),
    0 0 3px;
  }
  100% {
    text-shadow: 2.6208764473832513px 0 1px rgba(0, 30, 255, 0.5),
    -2.6208764473832513px 0 1px rgba(255, 0, 80, 0.3),
    0 0 3px;
  }
}



@keyframes disabledTextShadow {
  0% {
    text-shadow: 0.4389924193300864px 0 1px rgba(0, 30, 255, 0.25),
    -0.4389924193300864px 0 1px rgba(255, 0, 80, 0.15),
    0 0 3px;
  }
  5% {
    text-shadow: 2.7928974010788217px 0 1px rgba(0, 30, 255, 0.25),
    -2.7928974010788217px 0 1px rgba(255, 0, 80, 0.15),
    0 0 3px;
  }
  10% {
    text-shadow: 0.02956275843481219px 0 1px rgba(0, 30, 255, 0.25),
    -0.02956275843481219px 0 1px rgba(255, 0, 80, 0.15),
    0 0 3px;
  }
  15% {
    text-shadow: 0.40218538552878136px 0 1px rgba(0, 30, 255, 0.25),
    -0.40218538552878136px 0 1px rgba(255, 0, 80, 0.15),
    0 0 3px;
  }
  20% {
    text-shadow: 3.4794037899852017px 0 1px rgba(0, 30, 255, 0.25),
    -3.4794037899852017px 0 1px rgba(255, 0, 80, 0.15),
    0 0 3px;
  }
  25% {
    text-shadow: 1.6125630401149584px 0 1px rgba(0, 30, 255, 0.25),
    -1.6125630401149584px 0 1px rgba(255, 0, 80, 0.15),
    0 0 3px;
  }
  30% {
    text-shadow: 0.7015590085143956px 0 1px rgba(0, 30, 255, 0.25),
    -0.7015590085143956px 0 1px rgba(255, 0, 80, 0.15),
    0 0 3px;
  }
  35% {
    text-shadow: 3.896914047650351px 0 1px rgba(0, 30, 255, 0.25),
    -3.896914047650351px 0 1px rgba(255, 0, 80, 0.15),
    0 0 3px;
  }
  40% {
    text-shadow: 3.870905614848819px 0 1px rgba(0, 30, 255, 0.25),
    -3.870905614848819px 0 1px rgba(255, 0, 80, 0.15),
    0 0 3px;
  }
  45% {
    text-shadow: 2.231056963361899px 0 1px rgba(0, 30, 255, 0.25),
    -2.231056963361899px 0 1px rgba(255, 0, 80, 0.15),
    0 0 3px;
  }
  50% {
    text-shadow: 0.08084290417898504px 0 1px rgba(0, 30, 255, 0.25),
    -0.08084290417898504px 0 1px rgba(255, 0, 80, 0.15),
    0 0 3px;
  }
  55% {
    text-shadow: 2.3758461067427543px 0 1px rgba(0, 30, 255, 0.25),
    -2.3758461067427543px 0 1px rgba(255, 0, 80, 0.15),
    0 0 3px;
  }
  60% {
    text-shadow: 2.202193051050636px 0 1px rgba(0, 30, 255, 0.25),
    -2.202193051050636px 0 1px rgba(255, 0, 80, 0.15),
    0 0 3px;
  }
  65% {
    text-shadow: 2.8638780614874975px 0 1px rgba(0, 30, 255, 0.25),
    -2.8638780614874975px 0 1px rgba(255, 0, 80, 0.15),
    0 0 3px;
  }
  70% {
    text-shadow: 0.48874025155497314px 0 1px rgba(0, 30, 255, 0.25),
    -0.48874025155497314px 0 1px rgba(255, 0, 80, 0.15),
    0 0 3px;
  }
  75% {
    text-shadow: 1.8948491305757957px 0 1px rgba(0, 30, 255, 0.25),
    -1.8948491305757957px 0 1px rgba(255, 0, 80, 0.15),
    0 0 3px;
  }
  80% {
    text-shadow: 0.0833037308038857px 0 1px rgba(0, 30, 255, 0.25),
    -0.0833037308038857px 0 1px rgba(255, 0, 80, 0.15),
    0 0 3px;
  }
  85% {
    text-shadow: 0.09769827255241735px 0 1px rgba(0, 30, 255, 0.25),
    -0.09769827255241735px 0 1px rgba(255, 0, 80, 0.15),
    0 0 3px;
  }
  90% {
    text-shadow: 3.443339761481782px 0 1px rgba(0, 30, 255, 0.25),
    -3.443339761481782px 0 1px rgba(255, 0, 80, 0.15),
    0 0 3px;
  }
  95% {
    text-shadow: 2.1841838852799786px 0 1px rgba(0, 30, 255, 0.25),
    -2.1841838852799786px 0 1px rgba(255, 0, 80, 0.15),
    0 0 3px;
  }
  100% {
    text-shadow: 2.6208764473832513px 0 1px rgba(0, 30, 255, 0.25),
    -2.6208764473832513px 0 1px rgba(255, 0, 80, 0.15),
    0 0 3px;
  }
}


@keyframes disabledIconShadow {
  0% {
    filter:  brightness(0) saturate(100%) invert(15%) sepia(1%) saturate(3%) hue-rotate(37deg) brightness(97%) contrast(96%) drop-shadow(0.4389924193300864px 0 1px rgba(0, 30, 255, 0.25)) drop-shadow(-0.4389924193300864px 0 1px rgba(255, 0, 80, 0.15));
  }
  5% {
    filter:  brightness(0) saturate(100%) invert(15%) sepia(1%) saturate(3%) hue-rotate(37deg) brightness(97%) contrast(96%) drop-shadow(2.7928974010788217px 0 1px rgba(0, 30, 255, 0.25)) drop-shadow(-2.7928974010788217px 0 1px rgba(255, 0, 80, 0.15));
  }
  10% {
    filter:  brightness(0) saturate(100%) invert(15%) sepia(1%) saturate(3%) hue-rotate(37deg) brightness(97%) contrast(96%) drop-shadow(0.02956275843481219px 0 1px rgba(0, 30, 255, 0.25)) drop-shadow(-0.02956275843481219px 0 1px rgba(255, 0, 80, 0.15));
  }
  15% {
    filter:  brightness(0) saturate(100%) invert(15%) sepia(1%) saturate(3%) hue-rotate(37deg) brightness(97%) contrast(96%) drop-shadow(0.40218538552878136px 0 1px rgba(0, 30, 255, 0.25)) drop-shadow(-0.40218538552878136px 0 1px rgba(255, 0, 80, 0.15));
  }
  20% {
    filter:  brightness(0) saturate(100%) invert(15%) sepia(1%) saturate(3%) hue-rotate(37deg) brightness(97%) contrast(96%) drop-shadow(3.4794037899852017px 0 1px rgba(0, 30, 255, 0.25)) drop-shadow(-3.4794037899852017px 0 1px rgba(255, 0, 80, 0.15));
  }
  25% {
    filter:  brightness(0) saturate(100%) invert(15%) sepia(1%) saturate(3%) hue-rotate(37deg) brightness(97%) contrast(96%) drop-shadow(1.6125630401149584px 0 1px rgba(0, 30, 255, 0.25)) drop-shadow(-1.6125630401149584px 0 1px rgba(255, 0, 80, 0.15));
  }
  30% {
    filter:  brightness(0) saturate(100%) invert(15%) sepia(1%) saturate(3%) hue-rotate(37deg) brightness(97%) contrast(96%) drop-shadow(0.7015590085143956px 0 1px rgba(0, 30, 255, 0.25)) drop-shadow(-0.7015590085143956px 0 1px rgba(255, 0, 80, 0.15));
  }
  35% {
    filter:  brightness(0) saturate(100%) invert(15%) sepia(1%) saturate(3%) hue-rotate(37deg) brightness(97%) contrast(96%) drop-shadow(3.896914047650351px 0 1px rgba(0, 30, 255, 0.25)) drop-shadow(-3.896914047650351px 0 1px rgba(255, 0, 80, 0.15));
  }
  40% {
    filter:  brightness(0) saturate(100%) invert(15%) sepia(1%) saturate(3%) hue-rotate(37deg) brightness(97%) contrast(96%) drop-shadow(3.870905614848819px 0 1px rgba(0, 30, 255, 0.25)) drop-shadow(-3.870905614848819px 0 1px rgba(255, 0, 80, 0.15));
  }
  45% {
    filter:  brightness(0) saturate(100%) invert(15%) sepia(1%) saturate(3%) hue-rotate(37deg) brightness(97%) contrast(96%) drop-shadow(2.231056963361899px 0 1px rgba(0, 30, 255, 0.25)) drop-shadow(-2.231056963361899px 0 1px rgba(255, 0, 80, 0.15));
  }
  50% {
    filter:  brightness(0) saturate(100%) invert(15%) sepia(1%) saturate(3%) hue-rotate(37deg) brightness(97%) contrast(96%) drop-shadow(0.08084290417898504px 0 1px rgba(0, 30, 255, 0.25)) drop-shadow(-0.08084290417898504px 0 1px rgba(255, 0, 80, 0.15));
  }
  55% {
    filter:  brightness(0) saturate(100%) invert(15%) sepia(1%) saturate(3%) hue-rotate(37deg) brightness(97%) contrast(96%) drop-shadow(2.3758461067427543px 0 1px rgba(0, 30, 255, 0.25)) drop-shadow(-2.3758461067427543px 0 1px rgba(255, 0, 80, 0.15));
  }
  60% {
    filter:  brightness(0) saturate(100%) invert(15%) sepia(1%) saturate(3%) hue-rotate(37deg) brightness(97%) contrast(96%) drop-shadow(2.202193051050636px 0 1px rgba(0, 30, 255, 0.25)) drop-shadow(-2.202193051050636px 0 1px rgba(255, 0, 80, 0.15));
  }
  65% {
    filter:  brightness(0) saturate(100%) invert(15%) sepia(1%) saturate(3%) hue-rotate(37deg) brightness(97%) contrast(96%) drop-shadow(2.8638780614874975px 0 1px rgba(0, 30, 255, 0.25)) drop-shadow(-2.8638780614874975px 0 1px rgba(255, 0, 80, 0.15));
  }
  70% {
    filter:  brightness(0) saturate(100%) invert(15%) sepia(1%) saturate(3%) hue-rotate(37deg) brightness(97%) contrast(96%) drop-shadow(0.48874025155497314px 0 1px rgba(0, 30, 255, 0.25)) drop-shadow(-0.48874025155497314px 0 1px rgba(255, 0, 80, 0.15));
  }
  75% {
    filter:  brightness(0) saturate(100%) invert(15%) sepia(1%) saturate(3%) hue-rotate(37deg) brightness(97%) contrast(96%) drop-shadow(1.8948491305757957px 0 1px rgba(0, 30, 255, 0.25)) drop-shadow(-1.8948491305757957px 0 1px rgba(255, 0, 80, 0.15));
  }
  80% {
    filter:  brightness(0) saturate(100%) invert(15%) sepia(1%) saturate(3%) hue-rotate(37deg) brightness(97%) contrast(96%) drop-shadow(0.0833037308038857px 0 1px rgba(0, 30, 255, 0.25)) drop-shadow(-0.0833037308038857px 0 1px rgba(255, 0, 80, 0.15));
  }
  85% {
    filter:  brightness(0) saturate(100%) invert(15%) sepia(1%) saturate(3%) hue-rotate(37deg) brightness(97%) contrast(96%) drop-shadow(0.09769827255241735px 0 1px rgba(0, 30, 255, 0.25)) drop-shadow(-0.09769827255241735px 0 1px rgba(255, 0, 80, 0.15));
  }
  90% {
    filter:  brightness(0) saturate(100%) invert(15%) sepia(1%) saturate(3%) hue-rotate(37deg) brightness(97%) contrast(96%) drop-shadow(3.443339761481782px 0 1px rgba(0, 30, 255, 0.25)) drop-shadow(-3.443339761481782px 0 1px rgba(255, 0, 80, 0.15));
  }
  95% {
    filter:  brightness(0) saturate(100%) invert(15%) sepia(1%) saturate(3%) hue-rotate(37deg) brightness(97%) contrast(96%) drop-shadow(2.1841838852799786px 0 1px rgba(0, 30, 255, 0.25)) drop-shadow(-2.1841838852799786px 0 1px rgba(255, 0, 80, 0.15));
  }
  100% {
    filter:  brightness(0) saturate(100%) invert(15%) sepia(1%) saturate(3%) hue-rotate(37deg) brightness(97%) contrast(96%) drop-shadow(2.6208764473832513px 0 1px rgba(0, 30, 255, 0.25)) drop-shadow(-2.6208764473832513px 0 1px rgba(255, 0, 80, 0.15));
  }
}
@keyframes iconShadow {
  0% {
    filter: brightness(0) saturate(100%) invert(66%) sepia(61%) saturate(759%) hue-rotate(66deg) brightness(90%) contrast(89%) drop-shadow(0.4389924193300864px 0 1px rgba(0, 30, 255, 0.5)) drop-shadow(-0.4389924193300864px 0 1px rgba(255, 0, 80, 0.3));
  }
  5% {
    filter: brightness(0) saturate(100%) invert(66%) sepia(61%) saturate(759%) hue-rotate(66deg) brightness(90%) contrast(89%) drop-shadow(2.7928974010788217px 0 1px rgba(0, 30, 255, 0.5)) drop-shadow(-2.7928974010788217px 0 1px rgba(255, 0, 80, 0.3));
  }
  10% {
    filter: brightness(0) saturate(100%) invert(66%) sepia(61%) saturate(759%) hue-rotate(66deg) brightness(90%) contrast(89%) drop-shadow(0.02956275843481219px 0 1px rgba(0, 30, 255, 0.5)) drop-shadow(-0.02956275843481219px 0 1px rgba(255, 0, 80, 0.3));
  }
  15% {
    filter: brightness(0) saturate(100%) invert(66%) sepia(61%) saturate(759%) hue-rotate(66deg) brightness(90%) contrast(89%) drop-shadow(0.40218538552878136px 0 1px rgba(0, 30, 255, 0.5)) drop-shadow(-0.40218538552878136px 0 1px rgba(255, 0, 80, 0.3));
  }
  20% {
    filter: brightness(0) saturate(100%) invert(66%) sepia(61%) saturate(759%) hue-rotate(66deg) brightness(90%) contrast(89%) drop-shadow(3.4794037899852017px 0 1px rgba(0, 30, 255, 0.5)) drop-shadow(-3.4794037899852017px 0 1px rgba(255, 0, 80, 0.3));
  }
  25% {
    filter: brightness(0) saturate(100%) invert(66%) sepia(61%) saturate(759%) hue-rotate(66deg) brightness(90%) contrast(89%) drop-shadow(1.6125630401149584px 0 1px rgba(0, 30, 255, 0.5)) drop-shadow(-1.6125630401149584px 0 1px rgba(255, 0, 80, 0.3));
  }
  30% {
    filter: brightness(0) saturate(100%) invert(66%) sepia(61%) saturate(759%) hue-rotate(66deg) brightness(90%) contrast(89%) drop-shadow(0.7015590085143956px 0 1px rgba(0, 30, 255, 0.5)) drop-shadow(-0.7015590085143956px 0 1px rgba(255, 0, 80, 0.3));
  }
  35% {
    filter: brightness(0) saturate(100%) invert(66%) sepia(61%) saturate(759%) hue-rotate(66deg) brightness(90%) contrast(89%) drop-shadow(3.896914047650351px 0 1px rgba(0, 30, 255, 0.5)) drop-shadow(-3.896914047650351px 0 1px rgba(255, 0, 80, 0.3));
  }
  40% {
    filter: brightness(0) saturate(100%) invert(66%) sepia(61%) saturate(759%) hue-rotate(66deg) brightness(90%) contrast(89%) drop-shadow(3.870905614848819px 0 1px rgba(0, 30, 255, 0.5)) drop-shadow(-3.870905614848819px 0 1px rgba(255, 0, 80, 0.3));
  }
  45% {
    filter: brightness(0) saturate(100%) invert(66%) sepia(61%) saturate(759%) hue-rotate(66deg) brightness(90%) contrast(89%) drop-shadow(2.231056963361899px 0 1px rgba(0, 30, 255, 0.5)) drop-shadow(-2.231056963361899px 0 1px rgba(255, 0, 80, 0.3));
  }
  50% {
    filter: brightness(0) saturate(100%) invert(66%) sepia(61%) saturate(759%) hue-rotate(66deg) brightness(90%) contrast(89%) drop-shadow(0.08084290417898504px 0 1px rgba(0, 30, 255, 0.5)) drop-shadow(-0.08084290417898504px 0 1px rgba(255, 0, 80, 0.3));
  }
  55% {
    filter: brightness(0) saturate(100%) invert(66%) sepia(61%) saturate(759%) hue-rotate(66deg) brightness(90%) contrast(89%) drop-shadow(2.3758461067427543px 0 1px rgba(0, 30, 255, 0.5)) drop-shadow(-2.3758461067427543px 0 1px rgba(255, 0, 80, 0.3));
  }
  60% {
    filter: brightness(0) saturate(100%) invert(66%) sepia(61%) saturate(759%) hue-rotate(66deg) brightness(90%) contrast(89%) drop-shadow(2.202193051050636px 0 1px rgba(0, 30, 255, 0.5)) drop-shadow(-2.202193051050636px 0 1px rgba(255, 0, 80, 0.3));
  }
  65% {
    filter: brightness(0) saturate(100%) invert(66%) sepia(61%) saturate(759%) hue-rotate(66deg) brightness(90%) contrast(89%) drop-shadow(2.8638780614874975px 0 1px rgba(0, 30, 255, 0.5)) drop-shadow(-2.8638780614874975px 0 1px rgba(255, 0, 80, 0.3));
  }
  70% {
    filter: brightness(0) saturate(100%) invert(66%) sepia(61%) saturate(759%) hue-rotate(66deg) brightness(90%) contrast(89%) drop-shadow(0.48874025155497314px 0 1px rgba(0, 30, 255, 0.5)) drop-shadow(-0.48874025155497314px 0 1px rgba(255, 0, 80, 0.3));
  }
  75% {
    filter: brightness(0) saturate(100%) invert(66%) sepia(61%) saturate(759%) hue-rotate(66deg) brightness(90%) contrast(89%) drop-shadow(1.8948491305757957px 0 1px rgba(0, 30, 255, 0.5)) drop-shadow(-1.8948491305757957px 0 1px rgba(255, 0, 80, 0.3));
  }
  80% {
    filter: brightness(0) saturate(100%) invert(66%) sepia(61%) saturate(759%) hue-rotate(66deg) brightness(90%) contrast(89%) drop-shadow(0.0833037308038857px 0 1px rgba(0, 30, 255, 0.5)) drop-shadow(-0.0833037308038857px 0 1px rgba(255, 0, 80, 0.3));
  }
  85% {
    filter: brightness(0) saturate(100%) invert(66%) sepia(61%) saturate(759%) hue-rotate(66deg) brightness(90%) contrast(89%) drop-shadow(0.09769827255241735px 0 1px rgba(0, 30, 255, 0.5)) drop-shadow(-0.09769827255241735px 0 1px rgba(255, 0, 80, 0.3));
  }
  90% {
    filter: brightness(0) saturate(100%) invert(66%) sepia(61%) saturate(759%) hue-rotate(66deg) brightness(90%) contrast(89%) drop-shadow(3.443339761481782px 0 1px rgba(0, 30, 255, 0.5)) drop-shadow(-3.443339761481782px 0 1px rgba(255, 0, 80, 0.3));
  }
  95% {
    filter: brightness(0) saturate(100%) invert(66%) sepia(61%) saturate(759%) hue-rotate(66deg) brightness(90%) contrast(89%) drop-shadow(2.1841838852799786px 0 1px rgba(0, 30, 255, 0.5)) drop-shadow(-2.1841838852799786px 0 1px rgba(255, 0, 80, 0.3));
  }
  100% {
    filter: brightness(0) saturate(100%) invert(66%) sepia(61%) saturate(759%) hue-rotate(66deg) brightness(90%) contrast(89%) drop-shadow(2.6208764473832513px 0 1px rgba(0, 30, 255, 0.5)) drop-shadow(-2.6208764473832513px 0 1px rgba(255, 0, 80, 0.3));
  }
}
